html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/sky2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#container {
    position: absolute;
    width: 96%;
    height: auto;
    top: 50%;
    left: 50%;
    margin-top: -315px;
    margin-left: -48%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

@media only screen and (max-height: 650px){
    #container {
      position: relative;
    margin: 20px auto;
    margin-left: -48%;
    }
  }


@media only screen and (max-width: 900px){
    #container {
    position: relative;
    width: 100%; 
    margin-left: -50%;
    margin-top: 10px;
    flex-direction: column;
    overflow: auto;
    }
  }

#today {
    position: relative;
    background-image: url("../img/sky3.jpg"); /* Quotes or no quotes and two dots if html and css are in subdirectories */
    background-size: 100% 100%;
    width: 33%;
    height:550px;
    background-color: rgb(82, 192, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 68px rgb(0, 6, 20); 
    z-index: 1;
}

#tomorrow {
    position: relative;
    background-image: url("../img/sky4.jpg");
    background-size: 100% 100%;
    width: 33%;
    height: 550px;
    background-color: rgb(82, 192, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 68px rgb(0, 6, 20); 
    z-index: 0;
}

@media only screen and (max-width: 900px) {
    #today, #tomorrow {
      width: 96%;
      height: 550px;
      box-shadow: 0px 0px 0px rgb(0, 12, 39); 
    }
  }


#extra {
    position: relative;
    width: 33%;
    height: 550px;
    background-color: rgb(82, 192, 255);
    background-image: url('img/moon.jpg');
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 68px rgb(0, 6, 20); 
    z-index:-2;
}

@media only screen and (max-width: 900px) {
    #extra {
        width: 96%;
        height: 550px;
        box-shadow: 0px 0px 0px rgb(0, 12, 39); 
    }
  }

.header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(250, 162, 0);
    font-size: 4rem;
    text-shadow: 2px 2px 2px #00123b;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
    h1 {
       font-size: 3.5rem;
    }
  }

@media only screen and (max-width: 900px) {
    h1 {
       font-size: 6rem;
    }
  } 
  
@media only screen and (max-width: 600px) {
    h1 {
       font-size: 5rem;
    }
  }
  
@media only screen and (max-width: 500px) {
    h1 {
       font-size: 4.5rem;
    }
  }

@media only screen and (max-width: 430px) {
    h1 {
       font-size: 3.8rem;
    }
  }  

@media only screen and (max-width: 1200px) {
    .header {
       margin-top: 5px;
    }
  }

@media only screen and (max-width: 900px) {
    .header {
       margin-top: 25px;
    }
  }

  @media only screen and (max-width: 600px) {
    .header {
       margin-top: 45px;
    }
  }

  @media only screen and (max-width: 500px) {
    .header {
       margin-top: 55px;
    }
  }

  
.date1 {
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: -webkit-center;
}

@media only screen and (max-width: 900px) {
    .date1 {
       font-size: 1.4rem;
    }
  }

.temp, .temp2 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    font-size: 10rem;
    text-shadow: 2px 2px 2px #00123b;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.toggleCF {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 12, 46);
  width: 130px;
   font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .temp, .temp2 {
        font-size: 10rem;
    }
  }

  @media only screen and (max-width: 900px) {
    .temp, .temp2 {
        font-size: 10rem;
    }
  }  

#forecast, #forecast2 {
    font-family: 'Arial Narrow';
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #00123b;
    padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    #forecast, #forecast2  {
       font-size: 1.8rem;
    }
  }

#error2 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(202, 0, 0);
    font-size: 2em;
    text-shadow: 2px 2px 2px #00123b;
    text-align: center;
}

.wrapper {
  height: 450px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

#sunset, #sunrise {
    width: 100%;
    height: auto;
    color: white;
    text-shadow: 2px 2px 2px #00123b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sunrise:before {
  color: orange;
  content: "Sunrise";
}

#sunset:before {
  color: orange;
  content: "Sunset";
}

@media only screen and (max-width: 900px) {
    #sunset, #sunrise{
        font-size: 2rem;
    }
  }

#sun {
    width: 170px;
    height: 170px;
}

#moon {
  width: 100px;
  height: 100px;
  
}

.sunmoon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    padding-right: 30px;
    height: 305px;
}


@media only screen and (max-width: 1200px) {
  .sunmoon {
      width: 300px;
  }
} 


#inputContainer {
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 550px;
    height: 78px;
    display: flex;
}

@media only screen and (max-width: 900px) {
    #inputContainer{
        width: 96%;
    }
  }

input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid #353842 ;
    outline: none;
    border-radius: 50px;
    padding-left: 20px;
    color: #3666cf;
    font-size: 1.8rem;
    box-shadow: 0px 0px 68px rgb(0, 0, 0); 
} 

input[type=text]::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    color: #8bb1ca;
    letter-spacing: 2px;
}

#btn {
    position: absolute;
    height: 39px;
    width: 100px;
    background-color: #122778;
    background-image: linear-gradient(to right bottom,rgb(123, 177, 228), #091c6b 75%);
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: .2s;
    text-transform: uppercase;
}

#btn:hover {
    transform: scale(1.05);
}

#city, #city2 {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    #city, #city2 {
       font-size: 3rem;
    }
  }

.result {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .result {
       margin-bottom: 60px;
    }
  }